@import url(/global.css);

.cards {
    text-align: center;
}

textarea, input, button { 
	width: 70%; 
	margin-top: 10px; 
	padding: 10px; 
	border-radius: 10px; 
	border: none; 
	background-color: var(--surface1); 
	color: var(--text); 
}

textarea {
	resize: none;
}

button { 
	cursor: pointer; 
    background-color: var(--surface1);
    margin-bottom: 20px;
}

button:hover { 
    background-color: var(--surface2);
}

