@import url(/global.css);

.cards { 
	text-align: center; 
	padding: 20px; 
	border-radius: 20px; 
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); 
}

textarea {
	width: 90%;
	margin-top: 10px;
	padding: 10px;
	border-radius: 10px;
	border: none;
	background-color: var(--surface0);
	color: var(--text);
	resize: none;
	outline: none;
}

button { 
	width: 70%; 
	margin-top: 10px; 
	padding: 10px; 
	border-radius: 10px; 
	border: none; 
	background-color: #333; 
	color: var(--text); 
}

button { 
	cursor: pointer; 
	background-color: var(--surface1); 
}

button:hover { 
	background-color: var(--surface2); 
}

pre {
	font-family: "JetBrainsMono";
	background-color: var(--crust);
	color: var(--white);
	text-align: left;
	padding: 10px;
}
