@font-face {
    font-family: 'Hack';
    src: url('/Fonts/Hack/Hack-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'JetBrainsMono';
    src: url('/Fonts/JetBrainsMono/JetBrainsMono-Regular.woff2');
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 1rem;
    background-color: #2a2a2a;
    color: #f0f0f0;
    overflow-x: hidden;
}

* {
    font-family: 'Hack', 'JetBrainsMono', monospace;
}

html {
    height: 100%;
}

a {
    color: #fff;
}

a:hover, svg:hover {
    color: #c099ff;
}

::selection {
    background-color: #c099ff;
    color: #2a2a2a;
}