body {
    background-color: #202020;
    color: white;
    margin: 0;
    font-size: large;
    font-family: monospace;
    overflow: hidden;
}

marquee {
    padding: 20px 0px 20px 0px;
    animation: transparent-edges infinite linear  0s;
}

@keyframes transparent-edges {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    10% {
        background-color: rgba(0, 0, 0, 1);
    }

    90% {
        background-color: rgba(0, 0, 0, 1);
    }

    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.fun {
    display: flex;
    justify-content: center;
    max-width: 300px;
    padding: 30px 60px 30px 60px;
    background-color: #404040;
    animation: transparent-edges 5s infinite;
}
