@import url(/global.css);

html {
    height: 100%;
}

#motd {
    font-style: italic;
}

.welcome {
    text-align: center;
    margin: 0;
    width: 60vw;
    max-width: 1920px;
    line-height: 1.4;
    padding-top: 60px;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.welcome * {
    color: #f0f0f0;
}

#welcome :not(h1) {
    margin: 0 0 10px 0;
}

.cards {
    margin-top: 50px;
    text-align: center;
}

.tool-div {
    bottom: 20px !important;
    background-color: rgba(50, 50, 50, 1);
    border: 2px solid rgba(65, 65, 65, 1);
    border-radius: 7px;
    transition: 0.3s;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    max-width: 90vw;
    width: 50vw;
    box-shadow: 0 4px 10px rgba(16, 16, 16, 0.5);
}

.tool-header {
    text-decoration: underline;
}

.tool-desc {
    font-weight: normal;
    max-width: 90%;
}

.tool-media {
    max-width: 30vw;
    border-radius: 5px;
    margin: 25px 10px;
}

.visit-tool {
    padding: 10px 20px;
    background-color: rgb(40, 100, 65);
    color: var(--subtext1);
    border: 2px solid rgb(75, 135, 100);
    border-radius: 4px;
    transition: 0.1s;
    margin: 10px;
}

.visit-tool:hover {
    background-color: rgb(35, 95, 60);
    border-color: rgb(90, 150, 115);
    color: var(--white);
}

.slideshow-container {
    position: relative;
    width: 90vw;
    max-width: 500px;
    margin: auto;
}

.tool-image {
    width: 100%;
    max-width: 90vw;
    max-height: 40vh;
    border-radius: 10px;
    object-fit: contain;
}

.theme-button {
    cursor: pointer;
    background: none;
    border: none;
    transition: 0.3s;
    margin-left: 30px;
}

#langauge-selector, option {
    color: var(--surface0) !important;
}

@media (max-width: 768px) {
    .cards {
        max-width: 100%;
        gap: 1.5vw;
    }

    .tool-div {
        width: 100%;
        scale: 1;
        margin-bottom: 20px;
        font-size: 0.9rem;
    }

    .tool-header {
        font-size: 1rem;
    }

    .tool-desc {
        font-size: 0.8rem;
    }

    .visit-tool {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    .welcome {
        font-size: 0.9rem;
        width: 90vw;
        padding-top: 40px;
    }
}

@media (max-width: 480px) {

    body {
        margin: 0 10px;
    }

    .cards {
        max-width: 100%;
    }

    .tool-div {
        width: 100%;
        scale: 1;
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .tool-header {
        font-size: 1rem;
    }

    .tool-desc {
        font-size: 0.75rem;
    }

    .visit-tool {
        font-size: 0.85rem;
        padding: 6px 12px;
    }

    .welcome {
        font-size: 0.8rem;
        width: 100%;
        margin-top: 70px;
    }
}
