@import url(/global.css);

img {
    user-select: none;
}

.content {
    margin-bottom: 100px;
}

.soon {
    color: var(--subtext0);
}

strong {
    color: var(--rosewater);
}

.download,
.src {
    color: var(--base);
    outline: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: filter 0.2s;
}

.src {
    filter: brightness(0.7);
}

.download:hover {
    filter: brightness(1.1)
}

.src:hover {
    filter: brightness(0.9)
}

.java:hover, .kt:hover {
    color: var(--base) !important;
    text-decoration: underline !important;
}

footer {
    padding: 30px 0;
    bottom: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    width: 100%;
    border-top: 2px solid var(--rosewater);
    text-align: center;
}

.images {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.screenshot {
    text-align: center;
}

.screenshot>img {
    height: 325px;
    border: 2px solid var(--lavender);
    border-radius: 4px;
    cursor: zoom-in;
}

.links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    text-align: center;
    justify-content: center;

}

.links>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kt {
    background-color: var(--mauve);
}

.java {
    background-color: var(--peach);
}

@media (max-width: 600px) {
    body {
        margin: 0 10px;
    }

    .images {
        grid-template-columns: 1fr !important;
        margin: 20px 0;
    }

    .screenshot>img {
        height: auto;
        max-width: 80%;
    }

    footer {
        padding: 20px 10px;
    }

    #download .download {
        display: block;
        width: 90%;
        box-sizing: border-box;
        padding: 12px 0;
        font-size: 1.1rem;
        text-align: center;
        margin: 20px auto;
    }
}