@import url(/global.css);

canvas {
    width: 100%;
    background-color: var(--surface0);
    border-radius: 10px;
    pointer-events: none;
}

button {
    cursor: pointer;
    background-color: var(--surface0);
    padding: 7px;
    color: var(--text);
    border: var(--surface2) solid 2px;
    border-radius: 4px;
    margin-top: 10px;
    font-size: 16px;
}

button:hover {
    background-color: var(--surface1);
    border: var(--surface2) solid 2px;
}