@import url(/global.css);

div {
	margin-bottom: 50px;
}

.cards {
    text-align: center;
}

textarea {
	resize: none;
	background-color: var(--surface1);
	color: var(--white);
	border: 2px solid #2c2c2c;
	margin-bottom: 25px;
	border-radius: 5px;
	outline: none;
}

textarea[readonly] {
	background-color: var(--surface0);
	color: var(--text);
}

button {
	margin: 5px 0 50px 0;
	width: 50%;	
	height: 15%;
	color: var(--white);
	cursor: pointer;
	border-radius: 5px;
	font-size: 16px;
    background-color: var(--pastel-violet);
    border: none;
}

button:hover {
    background-color: var(--mauve);
}