@import url(/global.css);

h6 {
    margin-top: -10px;
}

.guestbook-entry {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #3f3f3f;
    background-color: #2f2f2f;
    max-width: 50vw;
    text-align: left;
    border-radius: 8px;
}

.guestbook-entry p {
    margin: 5px 0;
}

.guestbook-entry a:hover {
    text-decoration: underline;
}


@media (max-width: 1200px) {
    .guestbook-entry {
        max-width: 60vw;
    }

    body {
        margin: 20px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: medium;
    }

    .guestbook-entry {
        max-width: 80vw;
    }
}

@media (max-width: 480px) {
    body {
        font-size: small;
        margin: 10px;
    }

    .guestbook-entry {
        max-width: 90vw;
        padding: 8px;
    }
}
