@import url(/global.css);

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

input[type="text"] {
    background: #1e1e1e;
    border: 1px solid #444;
    color: #f0f0f0;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 1rem;
    width: 70%;
    margin-right: 10px;
    transition: border-color 0.2s;
	outline: none;
	z-index: 2;
}

button {
    background: #c099ff;
    color: #1e1e1e;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s;
	z-index: 2;
}

button:hover {
    background: #a875ff;
}

#output {
    margin-top: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 640px;
}

table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

th, td {
	padding: 10px 14px;
	border: 2px solid #2a2a2a;
	background-color: #1f1f1f;
}

th:hover, 
td:hover {
	background-color: #232323;
}

th {
	text-align: left;
}

.your {
	margin-top: 15px;
}

#your-ip {
	margin-left: 5px;
}

#your-ip:not(:hover) {
	filter: blur(10px);
}

.tooltip {
    display: flex;
    justify-content: center;
    position: relative;
}

.tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 125%;
    background-color: #2a2a2a;
    border: 2px solid rgba(150, 150, 150, 0.1);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
	cursor: default; 
}

.tooltip:hover::after {
    opacity: 1;
    visibility: visible;
}
