@import url(/global.css);

* {
    user-select: none;
}

button, p {
    font-weight: 600;
}

.help {
    color: var(--text);
    background: none;
    border: none;
}

.cards {
    text-align: center;
    border-radius: 8px;
    padding: 30px 100px;
    box-shadow: 0 4px 10px rgba(16, 16, 16, 0.5);
    transition: background-color 0.3s;
    width: 300px;
    max-width: 300px;
}

.container > * {
    margin: 8px;
}

.counter {
    font-size: 24px;
    margin: 40px 0;
    color: var(--text);
}

p, h6, h1 {
    color: var(--text);
    transition: color 0.3s;

}

.reset {
    transition: background-color 0.3s;
    background-color: var(--surface0);
    color: var(--text);
    border: 1px solid var(--overlay2);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 15px;
    outline: none;
    transition: border 0.3s;
    color: var(--text);
}

.reset:hover {
    background-color: var(--surface1);
}