@import url(/global.css);

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

textarea {
    background: #1e1e1e;
    border: 1px solid #444;
    color: #f0f0f0;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    width: 80%;
    transition: border-color 0.2s;
	outline: none;
	resize: none;
}

#count {
	margin-top: 10px;
	font-size: 1.1rem;
}

